<div class="card">
  <div class="card-header">
    <h7 class="card-title">コメント一覧</h7>
  </div>
  <% post_comments.each do |post_comment| %>
    <div class="w-80 h-80">
      <div class="card-body">
        <div><%= post_comment.comment %></div>
        <div class="" id="star-rate<%= post_comment.id%>"></div>

        <script>
          $('#star-rate<%= post_comment.id %>').empty();
          $('#star-rate<%= post_comment.id%>').raty({
            size      : 36,
            starOff   : '<%= asset_path('star-off.png') %>',
            starOn    : '<%= asset_path('star-on.png') %>',
            starHalf : '<%= asset_path('star-half.png') %>',
            half      : true,
            readOnly: true,
            score: <%= post_comment.rate %>,
          });
        </script>

        <span class="card-link mt-2">
          by <%= link_to post_comment.user.name, user_path(post_comment.user.id) %>
        </span>
        <span>
          <%= image_tag post_comment.user.get_profile_image, size: "30x30", class: "rounded-circle" %>
        </span>
        <div class="d-flex flex-row-reverse">
          <% if user_signed_in? %>
            <% if post_comment.user == current_user || current_user.admin == true %>
              <%= link_to post_post_comment_path(post, post_comment), method: :delete, remote: true do %>
                <i class="fas fa-trash" style="color: gray;"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <% end %>
  </div>