<%= render 'layouts/errors', obj: @user %>
  <diV class="row">
    <div class="col-md-10">
      <%= form_with model: @user, url: user_path, method: :patch do |f| %>
        <div class="mt-1">
          <%= f.label :profile_image, "プロフィール写真" %>
          <%= f.file_field :profile_image, class: "form-control" %>
        </div>
        <div class="mt-1">
          <%= f.label :name, "名前" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="mt-2">
          <%= f.label :introduction, "紹介文" %>
          <%= f.text_area :introduction, class: "form-control", style: "min-height: 200px;" %>
        </div>
        <div class="mt-2">
          <%= f.submit '保存する', class: "btn btn-outline-success" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-10">
      <%= link_to '退会する', unsubscribe_users_path, class: "btn btn-outline-danger" %>
    </div>
  </div>
