<!--ユーザー詳細-->
<div class="container">

  <div class="row justify-content-around">
    <div class="col-3">
      <%= image_tag @user.get_profile_image, size: "400x400", class: "rounded-circle" %>
    </div>
    <div class="col-5">
      <%= @user.introduction %>
    </div>
    <% if user_signed_in? %>
      <% if @user == current_user || current_user.admin == true %>
      <div class="col-2">
        <div class="mb-3">
        <%= link_to '編集する', edit_user_path, class: 'btn btn-outline-info' %>
        </div>
        <div>
        <%= link_to '新規投稿', new_post_path, class: 'btn btn-outline-primary' %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <%= link_to 'マイリスト', favorites_path %>
  </div>
  <div class="row mt-3">
    <% @posts.each do |post| %>
    <div class ="mx-3">
        <%= image_tag post.get_image, size: "200x200" %><br>
        都道府県: <%= @prefectures.find_by(id: post.area.prefecture_id).name %><br>
        エリア: <%= post.area.name %><br>
        #<%= post.category.name %>
    </div>
    <% end %>
  </div>
</div>
