<!--ユーザー詳細-->
<div class="row justify-content-center">
  <div class="col-11">
    <div class="card mb-3 user-card" style="min-height: 400px;">
      <div class="row g-0 mt-3">
        <div class="col-md-3 text-center mx-3">
          <%= image_tag @user.get_profile_image, size: "200x200", class: "rounded-circle biguser-img" %>
        </div>
        <div class="col-md-12 col-lg-7 offset-lg-1">
          <div class="card-body">
            <h5 class="card-title"><%= @user.name %></h5>
            <p class="card-text"><%= @user.introduction %></p>
          </div>
          <div class="card-body">
            <p class="card-text">投稿数：<%= @user.posts.count %></p>
          </div>
        </div>
      </div>
      <!--編集ボタン等-->
      <% if user_signed_in? %>
        <% if @user == current_user || current_user.admin == true %>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3 mb-3">
          <div class="mx-3">
            <%= link_to new_post_path do %>
              <i class="fas fa-camera fa-2x" style="color: black;"></i>
            <% end %>
          </div>
          <div class="mx-3">
            <%= link_to favorites_path do %>
              <i class="fas fa-heart fa-2x" style="color: black;"></i>
            <% end %>
          </div>
          <%= link_to '編集する', edit_user_path, class: 'btn btn-secondary me-md-2 mx-3' %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="row justify-content-center mt-3">
  <%= render 'posts/index', posts: @user.posts %>
</div>


