<% if @user == current_user %>
<div class="row justify-content-center mt-5">
  <div class="col-11 text-center">
    <h3>本当に退会しますか？</h3>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <div class="mr-3">
    <%= link_to "戻る", edit_user_path(@user.id), class: "btn btn-outline-secondary" %>
  </div>
  <div class="ml-3">
    <%= link_to "退会する", user_path(@user.id), method: :delete, class: "btn btn-outline-danger" %>
  </div>
</div>
<% elsif current_user.admin? %>
<div class="row justify-content-center mt-5">
  <div class="col-11 text-center">
    <h3>本当に<%= @user.name %>を退会させますか？</h3>
  </div>
  <div class="text-center mt-3">
    <%= link_to "キャンセル", edit_user_path(@user.id), class: "btn btn-outline-secondary" %>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <div class="col-6">
    <%= form_with model: @user, url: admin_withdraw_path(@user.id), method: :patch do |f| %>
      <%= f.label :admin_memo, '退会理由' %>
      <%= f.text_field :admin_memo, class: 'form-control', style: "min-height: 100px;" %>
      <%= f.hidden_field :is_deleted, :value => true %>
      <%= f.submit '退会させる', class: 'btn btn-danger mt-3' %>
    <% end %>
  </div>
</div>
<% end %>
