<!--トップページ-->
<div class="row mt-3">
  <div class="col-12 text-center">
    <h5>気になるワードで探しに行こう！！</h5>
  </div>
  <div class="col-8 offset-2 mt-3">
    <%= render 'searches/header_form' %>
  </div>
</div>

<!--投稿数の多い都道府県３つ-->
<div class="row justify-content-center mt-5">
  <div class="col-md-6 col-8 text-center mt-3 rounded-pill" style="background-color: #00BFFF; min-height: 40px;">
    <h5 class="text-light mt-2">投稿数の多い人気のエリア<strong>BEST3</strong></h5>
  </div>
</div>
<!--<div class="row mt-3 mb-5 d-flex justify-content-center">-->
<!--  <#% @prefecture_lanks.first(3).each.with_index(1) do |prefecture, i|%>-->
<!--    <div class="mx-3">-->
<!--      <div class="mb-1">-->
<!--        <strong>第<#%= i %>位</strong>-->
<!--      </div>-->
<!--      <div>-->
<!--        <#%= link_to prefecture_path(prefecture.id) do %>-->
<!--          <#%= prefecture.name %>-->
<!--        <#% end %>-->
<!--      </div>-->
<!--    </div>-->
<!--  <#% end %>-->
<!--</div>-->

<!--コメント数が多く評価の高い投稿の上位３件-->
<div class="row justify-content-center mt-3">
  <div class="col-md-6 col-8 text-center mt-3 rounded-pill" style="background-color: #00BFFF; min-height: 40px;">
    <h5 class="text-light mt-2">コメント数が多く評価の高い投稿<strong>BEST3</strong></h5>
  </div>
</div>
<div class="row mt-3 mb-5 d-flex justify-content-center">
  <% @post_rate_lanks.first(3).each.with_index(1) do |post, i| %>
  <div class="col-md-6 col-lg-4 mt-3 mb-5" style="max-width: 20rem;">
    <div class="text-center mt-3">
      <p>第<%= i %>位</p>
    </div>
    <div class="card h-100">
      <div class="card-header" style="background-color: lightblue; color: white;">
        <%= image_tag post.user.get_profile_image, size: "30x30", class: "rounded-circle border border-white" %>
        <%= link_to post.title.truncate(10), post_path(post.id), class: "ml-2", style: "color: white; font-size: 90%;"%>
      </div>
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.get_image, class: "card-img-top img-fluid" %>
      <% end %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">都道府県: <%= link_to Prefecture.get_prefecture(post.area.prefecture_id).name, prefecture_path(post.area.prefecture_id) %></li>
        <li class="list-group-item">エリア: <%= link_to post.area.name, area_path(post.area.id) %></li>
        <li class="list-group-item">カテゴリー: <%= link_to post.category.name, category_path(post.category_id) %></li>
      </ul>
    </div>
  </div>
  <% end %>
</div>

<div class="row">
  <div class="col text-center">
    <h5><%= link_to 'すべての投稿を見る', posts_path, class: "btn btn-secondary" %></h5>
  </div>
</div>



