<% if @posts.nil? != true %>
  <div class="row justify-content-center">
    <div class="col-10 text-center">
      <h3>『<%= @content %>』の投稿を含む検索結果</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-11 text-center">
      <%= render 'orders/select' %>
    </div>
  </div>
  <div class="row justify-content-center mt-3 orders">
    <%= render 'posts/index', posts: @posts %>
  </div>
<% elsif @users.nil? != true %>
  <div class="row justify-content-center">
    <div class="col-10 text-center">
      <h3>『<%= @content %>』のユーザーを含む検索結果</h3>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-8">
      <%= render 'searches/user_search_form' %>
    </div>
  </div>
  <div class="row mt-5">
    <%= render 'users/index', users: @users %>
  </div>
<% end %>

