<h1>投稿一覧ページ</h1>
<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
    <div class="col-3 mb-2 border">
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.get_image(200,200) %><br>
      <% end %>
        都道府県: <%= link_to Prefecture.get_prefecture(post).name, prefecture_path(post.area.prefecture_id) %><br>
        エリア: <%= link_to post.area.name, area_path(post.area.id) %><br>
        カテゴリー: <%= link_to post.category.name, category_path(post.category_id) %>
    </div>
    <% end %>
  </div>
</div>