<h1>投稿一覧ページ</h1>
<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
    <div class="col-3 mb-2 border">
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.get_image(200,200) %><br>
      <% end %>
      #<%= @prefectures.find_by(id: post.area.prefecture_id).name %><br>
      #<%= post.area.name %><br>
      #<%= post.category.name %>
    </div>
    <% end %>
  </div>
</div>