<!--投稿詳細ページ-->
<div class="container">
  <!--投稿詳細-->
  <div class="row">
    <div class="col-12">
    <%= link_to user_path(@post.user.id) do %>
      <%= image_tag @post.user.get_profile_image(100,100) %>
    <% end %>
    </div>
    <div class="col">
      <%= @post.user.name %>
    </div>
    <div class="col-8">
      <div>
        <%= image_tag @post.get_image(600,600) %>
      </div>
      <div>
        <%= @post.title %>
      </div>
      <div>
        <div>
          都道府県: <%= link_to @prefecture.name, prefecture_path(@prefecture.id) %>
          エリア: <%= link_to  @post.area.name, area_path(@post.area.id) %>
        </div>
        <div>
          カテゴリー：<%= @post.category.name %>
        </div>
      </div>
      <div>
        <div>
          <%= @post.body %>
        </div>
        <div>
          <% @post_tag.each do |tag| %>
          #<%= link_to tag.name, search_path(content: tag.name, model: "Tag") %>
          <% end %>
        </div>
      </div>
      <% if user_signed_in? %>
      <div class="favorite_<%= @post.id %>">
        <%= render 'favorites/btn', post: @post %>
      </div>
      <% else %>
        <%= link_to new_user_session_path do %>
          <i class="far fa-heart fa-2x" style="color: red;"></i>
          <span><%= @post.favorites.count %> いいね</span>
        <% end %>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <% if @post.user == current_user || current_user.admin == true %>
        <%= link_to '編集画面へ', edit_post_path, class: "btn btn-outline-info" %>
      <% end %>
    <% end %>
    <!--コメント一覧-->
    <div class="col-3 post_comments_index">
      <%= render 'post_comments/index', post_comments: @post_comments, post: @post %>
    </div>
  </div>

  <!--コメント投稿-->
  <% if user_signed_in? %>
    <div class="row mt-3">
      <div class="col">
        <%= render 'post_comments/form', post: @post, post_comment: @post_comment %>
      </div>
    </div>
  <% end %>

</div>