<!--カテゴリー詳細ページ-->
<div class="row justify-content-center mb-3">
  <% if @prefecture_or_area.class.name == "Prefecture" %>
    <h4><%= @prefecture_or_area.name %>のカテゴリー：<%= @category.name %> の投稿一覧</h4>
  <% elsif @prefecture_or_area.class.name == "Area" %>
    <h4><%= @prefecture_or_area.name %>エリアのカテゴリー：<%= @category.name %> の投稿一覧</h4>
  <% else %>
    <h4>すべての<%= @category.name %> の投稿一覧</h4>
  <% end %>
</div>
<div class="row justify-content-center mt-3">
  <%= render 'posts/index', posts: @posts %>
</div>
