<!DOCTYPE html>
<html>
  <head>
    <title>anabaList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if user_signed_in? && (current_user.name != "guestuser") && (current_user.admin == false) %>
      <span>ログイン中</span>
    <% elsif user_signed_in? && (current_user.name == "guestuser") %>
      <span>ゲストユーザーログイン中</span>
    <% elsif user_signed_in? && (current_user.admin == true) %>
      <span>管理者ログイン中</span>
    <% end %>
    <%= yield %>
  </body>
</html>
