<!DOCTYPE html>
<html>
  <head>
    <title>AnabaList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main>
    <div class="container main mt-5">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3">
          <%= render 'searches/side_form' %>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8 offset-sm-1">
          <%= yield %>
        </div>
      </div>
    </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>